{% extends 'DataEntry/template.html' %}
        
    {% block content %}

    <div id="site_content">

      <div id="content">
        <!-- insert the page content here -->

        <h2>Company Details</h2>
        <table style="width:100%; border-spacing:0;">
        <tr>
        {% for key, val in header.items %}
          <th>{{val}}</th>
              {% endfor %}
        </tr>
        {% for row in payload %}
        <tr>
        {% for key, value in row.items %}
          <td>{{value}}</td>
              {% endfor%}
          </tr>
        {% endfor %}
        </table>
      </div>
    </div>
    
{% endblock %}